@use "sass:map";

$data: ((background_image: "/resources/last-works/trampoline_background.svg",
        growth: 1.1,
        background_color: #1abc9c,
        background_position: center),
    (background_image: "/resources/last-works/buscoextra_background.jpg",
        growth: 1.5,
        background_color: #2ecc71,
        background_position: center),
    // (background_image: "/resources/last-works/angular_malaga_background.jpg",
    //     growth: 1.3,
    //     background_color: #3498db,
    //     background_position: center -50px),
    (background_image: "/resources/last-works/willimbu_background.jpg",
        growth: 1.3,
        background_color: #9b59b6,
        background_position: center),
    (background_image: "/resources/last-works/medium_background.png",
        growth: 1.1,
        background_color: #34495e,
        background_position: center),
    // (background_image: "/resources/last-works/qbbo_background.png",
    //     growth: 1,
    //     background_color: #f1c40f,
    //     background_position: center),
    (background_image: "/resources/last-works/angular_malaga_background.jpg",
        growth: 1,
        background_color: #e67e22,
        background_position: center),
    (background_image: "/resources/last-works/qbbo_background.png",
        growth: 1,
        background_color: #e74c3c,
        background_position: center));
// (background_image: "/resources/last-works/qbbo_background.png",
//     growth: 1.5,
//     background_color: #ecf0f1,
//     background_position: center));

.last-works-title {
    width: 100%;
    max-width: 400px;
    padding: var(--inner-padding);
    margin: auto;
    text-align: center;
}

@keyframes ripple {
    from {
        background-size: 0px;
        background-position: 0 100%;
    }

    to {
        background-size: 1000px;
        background-position: -400px calc(100% + 500px);
    }
}

.last-works-container {
    width: 100%;
    max-width: var(--max-width);
    padding: var(--inner-padding);
    display: flex;
    align-items: stretch;
    height: 450px;
    margin: auto;
    flex-wrap: wrap;

    @for $i from 1 through 3 {

        .column:nth-child(#{$i}) {

            @for $j from 1 through 2 {
                $rowIndex: $i * 2 + $j - 2;
                $chunk: nth($data, $rowIndex);

                .cell:nth-child(#{$j}) {
                    $background_image: map-get($chunk, "background_image");
                    background-color: map-get($chunk, "background_color");
                    flex-grow: map-get($chunk, "growth");
                    flex-basis: 0px;
                    background-image: url($background_image);
                    background-size: cover;
                    background-position: map-get($chunk, "background_position");
                }
            }
        }
    }


    .cell {
        border-radius: 12px;
        margin: 8px;
        box-sizing: border-box;

        .inner-content {
            height: 100%;
            width: 100%;
            border-radius: inherit;
            background: url("/resources/last-work_background.svg");
            background-repeat: no-repeat;
            background-size: 0px;
            background-position: 0 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            >div {
                transition: 0.5s;
                background-color: var(--translucent-dark);
                width: 100%;
                height: 20px;
                padding: var(--inner-padding);
                border-radius: inherit;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                overflow: hidden;

                h3 {
                    color: white;
                    margin: -10px 0 4px -5px;
                }

                small {
                    font-weight: bold;
                    color: white;
                    transition: 0.5s;
                    opacity: 0;
                }

                p {
                    transition: 1s;
                    color: white;
                    opacity: 0;
                    margin: 4px 0 0 0;
                }
            }
        }

        :hover {
            animation: ripple 2s forwards;

            >div {
                height: 100%;
                background-color: var(--traslucent-dark);

                small {
                    opacity: 1;
                }

                p {
                    opacity: 1;
                }
            }
        }
    }

    .column {
        min-width: 250px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        height: inherit;
        flex-basis: 0;
    }
}

@media (max-width: 547px) {

    .last-works-container {
        .column {
            height: 350px;

            .cell {
                flex-grow: 1 !important;
            }
        }

    }
}