.header-background{
    display: inline-block;
    width: 50%;
    height: 400px;
    background-image: url("/resources/header_background.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.personal-summary{
    width: 45%;
    margin-right: 5%;
    height:400px;
    display: inline-block;
    text-align: right;
    position: relative;
}

.summary-positioning{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 100%;
}

.page{
    padding-left: 50px;
    padding-right: 50px;
}