.post-card {
  width: 600px;
  min-height: 200px;

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  background-color: white;
  position: relative;
  margin: calc(var(--inner-margin) / 2);
  box-shadow: 5px 5px 9px -3px rgba(0, 0, 0, 0.15);
  transition: 0.5s;

  cursor: pointer;

  .post-photo {
    order: 2;
    flex-grow: 1.5;
    background-position: center;
    background-size: cover;
  }

  .post-body {
    order: 1;
    flex-grow: 2;
    flex-basis: 0;
    padding: var(--inner-padding);
    display: flex;
    flex-direction: column;

    p {
      flex-grow: 1;
    }

    h1 {
      font-weight: bold;
      font-size: 1.2em;
      margin: 0px;
    }

    small {
      a {
        font-weight: bold;
        text-decoration: none;
        color: var(--default-color);
      }
    }

    small:nth-child(even) {
      display: block;
      margin-top: 4px;
      font-weight: 300;
    }
  }
}

.post-card:hover {
  box-shadow: 5px 5px 12px -3px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}