.knowledge-areas {
  width: 100%;
  margin: 48px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  >.title {
    text-align: center;
    max-width: 400px;
  }

  .specialization-carrousel {
    display: flex;
    max-width: 980px;
    margin-top: 48px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 930px) {
  .knowledge-section {
    flex-direction: column;

    .section-header {
      min-width: 200px;
    }

    .section-body {
      min-width: 200px;
    }
  }
}