:root {
  --primary-color: #3498db;
  --background-color: #F8F9FA;
  --default-color: #2d3436;

  h1,
  h2,
  p,
  span {
    color: var(--default-color);
  }

  box-sizing: border-box;
}

.page {
  margin-top: 91px;
  margin-bottom: 100px;
  width: 100%;
}

body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  min-width: fit-content;
}