:root {
  --primary-color: #3498db;
  --background-color: #F8F9FA;
  --default-color: #2d3436;
  --translucent-dark: #2d3436aa;
  --inner-padding: 24px;
  --max-width: 1080px;

  h1,
  h2,
  p,
  span {
    color: var(--default-color);
  }

  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  margin-top: 91px;
  width: 100%;
}

body {
  font-family: "Roboto";
  margin: 0px;
  padding: 0px;
  min-width: fit-content;
}